*{
    padding: 0;
    margin: 0;
}
body{
    -webkit-font-smoothing: antialiased;
    color: #1a4122;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    text-align: center;
    font-family: Gideon Roman,serif;
}
.cantainer{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 1.5vmin;
}
h1{
    font-size: 10vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #1a4122;
    font-size: 8vmin;
    color: #1a4122;
    background-color:beige;
}
.reset{
    background:beige;
    color:#1a4122;
    height: 5vmin;
    width: 15vmin;
    border: none;
    border-radius: 3vmin;
    box-shadow: 0 0 1rem beige;
}
#newbt{
    background:beige;
    color: #1a4122;
    height: 5vmin;
    width: 15vmin;
    border: none;
    border-radius: 3vmin;
    box-shadow: 0 0 1rem beige;
}#msg{
    font-size: 8vmin;
}
.msgcantainer{
        height: 100vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
}
.hide{
    display: none;
}
@media screen and (max-width:567px) {
    #newbt{
        height: 30px;
        width: 90px;
    }
    .reset{
        height: 30px;
        width: 90px;
    }
}


